<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Tasks</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <h2>List of tasks</h2>

    <table class="minimalistBlack">
        <thead>
            <tr>
                <th>Id</th>
                <th>User</th>
                <th>Status</th>
                <th>Start time</th>
                <th>End time</th>
                <th>Error Message</th>
            </tr>
        </thead>
        </tbody>
        <tbody>
            <tr th:each="task : ${tasks}">
                <td th:text="${task.getId()}">Id</td>
                <td th:text="${task.getUsername()}">User</td>
                <td th:text="${task.getHumanReadableCurrentStatus()}">Status</td>
                <td th:text="${task.getStartTime()}">Start time</td>
                <td th:text="${task.getEndTime()}">End time</td>
                <td th:text="${task.getErrorMsg()}">Error Message</td>
            </tr>
        </tbody>
    </table>

</body>

</html>